.p50 {
  padding: 30px;
}
.cdiv {
  border: 3px solid white;
}
.r1 {
  background-color: #ff97c1;
}
.r2 {
  background-color: #e80f88;
}
.r3 {
  background-color: #9dd6df;
}
.r4 {
  background-color: #38e54d;
}
.r4c2 {
  background-color: brown;
}
